<template>
    <div>
        <header-component></header-component>
        <div class="container">
            <div class="jumbotron">
                <h3>Welocme  <span>{{ userDetails.name }}</span></h3> 
                <p>You can create new post and blogs..lets blogging</p> 
            </div>
        </div>
    </div>
</template>

<script>

import HeaderComponent from './includes/HeaderComponent.vue';

export default {
    data(){
        return{
            userDetails:{},
        }
    },
    mounted(){
    },
    components:{
        'header-component':HeaderComponent
    },
    beforeCreate(){
        let token = localStorage.getItem('token');
        let currentObject = this;
        this.axios.defaults.headers.common["Authorization"] = 'Bearer' +' '+ token.slice(1,-1);

        this.axios.get(window.location.origin + '/api/auth/user')
        .then((response) => {
            if(response.data != "") {
                this.userDetails = response.data;
            }
        }).catch((error) => {
            console.log(error);
        });
    }
}
</script>

<style scoped>
   h3{
    text-align: center !important;
   } 
   p{
    text-align: center !important;
   }
</style>