<template>
    <div>
       <header-component></header-component>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">Example Component</div>
                        <div class="panel-body">
                            I'm an example component!
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    
</template>

<script>
    import HeaderComponent from './includes/HeaderComponent.vue';
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        components:{
            'header-component':HeaderComponent,
        }
    }
</script>
