<template>
    <div>
       <header-component></header-component>
       <div class="container">
           <div class="row">
               <h4>Login</h4>
               <hr>
               <div class="col-md-8">
                    <form class="form-horizontal" method="post" v-on:submit.prevent="login()">
                        <div class="form-group">
                            <label for="email" class="control-label col-sm-2">Email address:</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="email" v-model="fields.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd" class="control-label col-sm-2">Password:</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="pwd" v-model="fields.password">
                            </div>
                        </div>
                        <div class="form-group"> 
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Login</button>
                            </div>
                        </div>
                    </form>
                    <span class="col-sm-offset-2 col-sm-10 register"><router-link to="/register">Don't Have an account ? please register</router-link></span>
                </div>
           </div>
       </div>
    </div>
</template>

<script>

import HeaderComponent from './includes/HeaderComponent.vue';

export default {
    data(){
        return{
            fields:{}
        }
    },
    methods:{
        login:function(){
            let currentObject = this;
            this.axios.post(window.location.origin + '/api/auth/login',
            {
                email:this.fields.email,
                password:this.fields.password

            }).then((response)=> {

                this.$myStore.commit('changeLoggedInStatus');
                localStorage.setItem('token', JSON.stringify(response.data.access_token));
                this.$router.push({ path: '/dashBoard' });

            }).catch((error) => {
                console.log(error);
            });
        },
    },
    mounted(){
        
    },
    components:{
        'header-component':HeaderComponent
    }
}
</script>

<style scoped>
    .register{
        padding: 0px;
    }
</style>