<template>
    <div>
       <header-component></header-component> 
       <div class="container">
           <div class="row">
               <h4>Registration</h4>
               <hr>
               <div class="col-md-8">
                    <form class="form-horizontal" method="post" v-on:submit.prevent="register()">
                        <div class="form-group">
                            <label for="email" class="control-label col-sm-2">Email address:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" v-model="fields.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="first_name" class="control-label col-sm-2">First Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="first_name" v-model="fields.first_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="last_name" class="control-label col-sm-2">Last Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="last_name" v-model="fields.last_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwd" class="control-label col-sm-2">Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="pwd" v-model="fields.password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cnf_pwd" class="control-label col-sm-2">Confirm Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="cnf_pwd" v-model="fields.confirm_password">
                            </div>
                        </div>
                        <div class="form-group"> 
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Register</button>
                            </div>
                        </div>
                    </form>
                    <span class="col-sm-offset-2 col-sm-10 login"><router-link to="/login">Already have Account? Please login here...</router-link></span>
                </div>
           </div>
       </div>
    </div>
</template>

<script>

import HeaderComponent from './includes/HeaderComponent.vue';

export default {
    data(){
        return{
            fields:{},
        }
    },
    mounted(){
        console.log('Component Mounted');
    },
    components:{
        'header-component':HeaderComponent
    },
    methods:{
        register:function(){
            let currentObject = this;
            this.axios.post(window.location.origin + '/api/auth/register',
            {
                email:this.fields.email,
                firstname:this.fields.first_name,
                lastname:this.fields.last_name,
                password:this.fields.password,
                password_confirmation:this.fields.confirm_password
            }
            ).then((response) => { 
                console.log(response);
            }).catch((error) => {
                console.log(error);
            });
        }
    }
}
</script>

<style scoped>
    .login{
        padding: 0px;
    }
</style>
