<template>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
                </div>
                <ul v-if="isLoggedIn" class="nav navbar-nav">
                    <li><router-link to="/">Home</router-link></li>
                    <li><router-link to="/dashBoard">DashBoard</router-link></li>
                    <li><a href="#" @click.prevent="logOut">Logout</a></li>

                </ul>
                <ul v-else class="nav navbar-nav">
                    <li><router-link to="/">Home</router-link></li>
                    <li><router-link to="/login">Login</router-link></li>
                    <li><router-link to="/register">Register</router-link></li>
                    <li><a href="#" @click.prevent="showModalFunc">Forgot Password</a></li>
                </ul>
            </div>
        </nav>
        <modal v-if="showModal" @close="showModal = false"></modal>
    </div>
</template>

<script>

import AuthHeader from '../auth/AuthHeader';
import ForgotPassword from './ForgotPasswordComponent';

export default {
    data(){
        return {
            isLoggedIn:false,
            showModal:false,
        } 
    },
    components:{
        'modal':ForgotPassword,
    },
    mounted(){
        this.$myStore.commit('changeLoggedInStatus');
        if(this.$myStore.getters.checkIsLoggedIn) {
            this.isLoggedIn = true;
        }
    },
    beforeCreate(){

    },
    methods:{
        logOut:function(){

            let token = localStorage.getItem('token');
            let currentObject = this;
            this.axios.defaults.headers.common["Authorization"] = 'Bearer' +' '+ token.slice(1,-1);
            this.axios.get(window.location.origin + '/api/auth/logout').
            then((response) => {
                if(response.data != "") {
                    localStorage.removeItem('token');
                    this.$router.push({ path: '/login' });
                }
            }).catch((error)=>{
                console.log(error);
            });
        },
        showModalFunc:function(){
            this.showModal = true;
            console.log(this.showModal)
        }
    },
}
</script>

<style scoped>
    .modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>